<nav class="navbar navbar-expand-lg navbar-dark color">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="logo">
            <img src="../../assets/imgs/logo_header.png " alt=" " />
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="# ">Advanced Search</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="# ">My Hunts </a>
        </li>
      </ul>

      <div class="header-g-2">
        <button class="header-btn-margin btn btn-primary">Login</button>
        <button class="header-btn-margin btn btn-light">Resgister</button>
      </div>
    </div>
  </div>
</nav>
