<div class="form flex-center">
  <div class="form-img">
    <img src="/../../assets/imgs/Panel_dragon.png " alt=" " class="form-img" />
  </div>

  <div class="form-inner flex-center">
    <div class="form-title flex-center">
      <img class="form-torch" src="../../assets/imgs/Lit_Torch.gif " alt=" " />
      <h1>Search</h1>

      <img class="form-torch" src="../../assets/imgs/Lit_Torch.gif " alt=" " />
    </div>
    <div class="form-input-wrap flex-center">
      <div class="form-input flex-center">
        <div class="input-group">
          <input
            type="file "
            placeholder="Character name "
            class="form-control"
            id="inputGroupFile04 "
            aria-describedby="inputGroupFileAddon04 "
            aria-label="Upload "
          />
          <button
            class="btn btn-outline-secondary"
            type="button "
            id="inputGroupFileAddon04 "
          >
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="flex-center">
            <img class="loading" src="../../assets/imgs/200.gif" alt="">
        </div> -->
  </div>

  <div class="form-img">
    <img src="/../../assets/imgs/Panel_simple.png " alt=" " class="form-img" />
  </div>
</div>
