<div class="char-wrapper">
  <div class="char-info-card">
    <div class="char-title">
      <h3>Char Info</h3>
    </div>
    <div class="char-info-card-body">
      <div class="char-info-name">Neon Dandar</div>
      <img class="char-img" src="../../assets/imgs/maleSorcerer.gif" alt="" />
      <div class="char-infos">
        <span class="char-tipo-info"> XP:&nbsp; </span> 250
      </div>
      <div class="char-infos">
        <span class="char-tipo-info"> Vocation:&nbsp; </span> Master Sorcerer
      </div>
      <div class="char-infos">
        <span class="char-tipo-info"> Premium:&nbsp; </span> Yes
      </div>
      <div class="char-page-wrapper">
        <div class="link-char-page">
          Page
          <i class="fas fa-external-link-alt"></i>
        </div>
      </div>
    </div>
  </div>
</div>
